# Python venv
.venv/*
.dis/*
.weather-ing/*
.app/*

# Mac-OS related stuff
.DS_Store/*

# Terraform State files and other unnecessary details
# Note: Terraform state files can contain secrets
terraform/.terraform
terraform/*.lock.hcl
terraform/*.lock.info
terraform/*.tfstate
terraform/*.tfstate.backup

# Secrets 
.env
.secret

# Pycache
data-ingestion-serving/__pycache__/*
